*

!.config/

!.config/fcitx5/
!.config/fcitx5/**
.config/fcitx5/conf/cached_layouts

!.config/gtk-3.0/
!.config/gtk-3.0/**

!.config/gtk-4.0/
!.config/gtk-4.0/**

!.config/hypr/
!.config/hypr/**

!.config/kanshi/
!.config/kanshi/**

!.config/kitty/
!.config/kitty/**

!.config/micro/
!.config/micro/**

!.config/waybar/
!.config/waybar/**

!.config/wofi/
!.config/wofi/**

!.local/

!.local/bin/

!.local/bin/btw
!.local/bin/fcitx5-workspace-layout.sh
!.local/bin/dispatch-workspace.sh
!.local/bin/powermenu.sh
!.local/bin/toggle-scratchpad.sh
!.local/bin/waybar-ram.sh

!Documents/
!Documents/.gitkeep

!Downloads/
!Downloads/.gitkeep

!Images/
!Images/Screenshots/
!Images/Screenshots/.gitkeep

!Images/Wallpapers/
!Images/Wallpapers/**

!Projects/
!Projects/.gitkeep

!.gitconfig
!.gitignore
!.gitignore_global
!.zprofile
!.zshrc
